<!DOCTYPE html>
<!-- 타임리프 선언문  -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ch07::index</title>
</head>
<body>
	<h3>Ch07.Spring boot 실습(타임리프 템플릿을 이용한)</h3>	
	<!-- 기본 출력문 형태: 대괄호 두개 안에 el표현식 -->
	<p>
		[[${str1}]]
	</p>
	
	<h4>Thymeleaf 기본출력</h4>
	<p>str1: [[${str1}]]</p>
	<p th:text="${str2}">str2 출력</p>
	<p th:text="${user1}">user1 출력</p>
	<p th:text="${user2}">user2 출력</p>
	<p th:text="${user3}">user3 출력</p>
	<p th:text="${user4}">user4 출력</p>
	
	
	<h4>Thymeleaf 조건문</h4>
	<p>
		<!-- jsp에서는 jstl이 태그였지만 스프링 부트에서는 태그의 속성으로 정의된다. -->
		<span th:if="${user1.name == '홍길동'}">user1은 홍길동 입니다.</span>
		<span th:if="${user1.name == '김유신'}">user1은 김유신 입니다.</span>
	</p>
	<p>
		<!-- 초기화 여부를 확인하는 -->
		<span th:if="${user2}">user2는 참입니다.</span>
		<span th:unless="${user2}">user2는 거짓입니다.</span>
	</p>
	<p>
		<!-- 초기화 여부를 확인하는 -->
		<span th:if="${user4}">user4는 참입니다.</span>
		<span th:unless="${user4}">user4는 거짓입니다.</span>
	</p>
	
	<p th:switch="${user3.age > 30}">
		<span th:case="true">[[${user3.name}]]은 30세 이상 입니다.</span>		
		<span th:case="false">[[${user3.name}]]은 30세 미만 입니다.</span>		
	</p>
	
	<h4>Thymeleaf 반복문</h4>
	<table border="1">
		<tr>
			<td>아이디</td>
			<td>이름</th>
			<td>휴대폰</th>
			<td>나이</th>
		</tr>
		<tr th:each="user:${users}">
			<td th:text="${user.uid}">아이디</td>
			<td th:text="${user.name}">이름</td>
			<td>[[${user.hp}]]</td>
			<td>[[${user.age}]]</td>
		</tr>
	</table>
	
	
	<h4>Thymeleaf 링크</h4>
	
	<!--@{}를 사용하면 ctx와 같은 효과 즉 컨텍스트 루트가 앞에 붙는다.(개발 환경에 맞게 = 프로퍼티 파일에 설정한 대로) -->
	<a href="@{/include}"> include 실습</a>
	<a href="@{/layout}">layout 실습</a>
	
	
	
	
	
	
	
	
	
	
</body>
</html>