<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	lang="ko">
<head>
	<meta charset="UTF-8">
	<title>user6 modify</title>
</head>
<body>
	<h3>user6 modify</h3>
	
	<a th:href="@{/index}">index</a>
	<a th:href="@{/user6/list}">user6 list</a>
	
	<form th:action="@{/user6/modify}" method="post">
		<table border="1">
			<tr>
				<th>아이디</th>
				<td>
					<input type="text" name="uid" th:value="${user.uid}" readonly/>
				</td>
			</tr>
			<tr>
				<th>이름</th>
				<td>
					<input type="text" name="name" th:value="${user.name}" />
				</td>
			</tr>
			<tr>
				<th>생일</th>
				<td>
					<input type="date" name="birth" th:value="${user.birth}" />
				</td>
			</tr>
			<tr>
				<th>성별</th>
				<td>
					<label>
						<input type="radio" name="gender" 
							value="M" th:checked="${user.gender eq 'M'}" /> 남
					</label>
					<label>
						<input type="radio" name="gender" value="F" 
							th:checked="${user.gender eq 'F'}"/> 여
					</label>
				</td>
			</tr>
			<tr>
				<th>나이</th>
				<td>
					<input type="number" name="age" th:value="${user.age}">
				</td>
			</tr>
			<tr>
				<th>주소</th>
				<td>
					<select name="addr" >
						<option th:selected="${user.addr} eq '서울'">서울</option>
						<option th:selected="${user.addr} eq '대전'">대전</option>
						<option th:selected="${user.addr} eq '대구'">대구</option>
						<option th:selected="${user.addr} eq '부산'">부산</option>
						<option th:selected="${user.addr} eq '광주'">광주</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>연락처</th>
				<td>
					<input type="test" name="hp" th:value="${user.hp}" />
				</td>
			</tr>
			<tr>
				<td colspan="2" align="right">
					<input type="submit" value="수정하기">
				</td>
			</tr>
		</table>
		
	</form>
</body>
</html>